DATABASE_URL=postgresql://user:password@localhost:5434/dbname
JWT_SECRET_KEY=your_super_secret_key_here_must_be_at_least_32_chars
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
